 
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ideally.io</title>
		
		<link href='http://fonts.googleapis.com/css?family=Monda:700' rel='stylesheet' type='text/css'>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
		
		<%= stylesheet_link_tag('style','avgrund') %>
	</head>
	
	
	<banner><!--upper bar-->
		<div align="left">
			<f1>Ideally.io</f1>
		</div>
	</banner>	
		<div class="container">
			<div class="buttons">
				<a href="#" id="show" class="button left">Show it</a>
				<a href="#" id="submitIdea" class="button left">Submit Idea</a>
			</div>
		</div>
			
		<div id='createIdeaForm' hidden="true">
			<%= form_for(:idea, :url => {:action => 'create'}) do |f| %>
					  <%= f.text_field(:title) %>
					  <%= f.text_field(:description) %>	
				  <%= submit_tag("Submit")%>
			<% end %>
		</div>
		
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<%= javascript_include_tag "jquery.avgrund.js" %>
		
		
		<script>
		$(function() {
			$('#show').avgrund({
				height: 200,
				holderClass: 'custom',
				showClose: true,
				showCloseText: 'Close',
				enableStackAnimation: true,
				onBlurContainer: '.container',
				template: document.getElementById('createIdeaForm').innerHTML
			});
		});
		$(function() {
			$('#submitIdea').avgrund({
				height: 200,
				holderClass: 'custom',
				showClose: true,
				showCloseText: 'Close',
				enableStackAnimation: true,
				onBlurContainer: '.container',
				template: document.getElementById('createIdeaForm').innerHTML
			});
		});
		</script>

		


	<body>	
	
		<%= yield %>
		
	</body>
	
</html>
