 
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ideally.io</title>
		
		<link href='http://fonts.googleapis.com/css?family=Monda:700' rel='stylesheet' type='text/css'>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
		
		<%= stylesheet_link_tag('style','avgrund') %>
	
	<div class="banner"><!--upper bar-->
		<div align="left">
			<f1>Ideally.io</f1>
		</div>

		<div class="buttons" align="right">
			<a href="#" id="login" class="button">Login</a>
			<a href="#" id="submitIdea" class="button ">Submit Idea</a>
		</div>
	</div>		
	</head>

	<body>	
		<div class="yield" align="center">
			<%= yield %>
		</div>
	
	</body>

		<div id='createIdeaForm' hidden="true">
			<div id="dialog-form" title="Login/Signup">
				<p class="validateTips">All form fields are required.</p>
				<fieldset>
					<%= form_for(:ideaCreation, :url => {:action => 'create'}, :html => {:class => "input"}) do |f| %>
							  <label for="title">Title</label>
							  <%= f.text_field(:title) %>
							  <label for="idea">Idea</label>
							  <%= f.text_field(:idea) %>
							  <label for="description">Description</label>
							  <%= f.text_field(:description) %>
							  <label for="tags">Tags</label>
							  <%= f.text_field(:tags) %>
						  <%= submit_tag("Submit", :class => 'button')%>
					<% end %>
				</fieldset>
			</div>
		</div>
		
		<div id='loginForm' hidden="true">
		</div>
	
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<%= javascript_include_tag "jquery.avgrund.js" %>
		
		
		<script>
		$(function() {
			$('#login').avgrund({
				height: 600,
				holderClass: 'custom',
				showClose: true,
				showCloseText: 'Close',
				enableStackAnimation: true,
				onBlurContainer: '.container',
				template: document.getElementById('loginForm').innerHTML
			});
		});
		$(function() {
			$('#submitIdea').avgrund({
				height: 600,
				holderClass: 'custom',
				showClose: true,
				showCloseText: 'Close',
				enableStackAnimation: true,
				onBlurContainer: '.container',
				template: document.getElementById('createIdeaForm').innerHTML
			});
		});
		</script>
	</div>
</html>
