 
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ideally.io</title>
		
		<link href='http://fonts.googleapis.com/css?family=Monda:700' rel='stylesheet' type='text/css'>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
		
		<%= stylesheet_link_tag('style','avgrund') %>
	
	<div class="banner"><!--upper bar-->
		<div align="left">
			<f1>Ideally.io</f1>
		</div>
	
		<div class="container">
			<div class="buttons">
				<a href="#" id="login" class="button left">Login</a>
				<a href="#" id="submitIdea" class="button left">Submit Idea</a>
			</div>
		</div>
	</div>		
	</head>

	<body>	
		<div class="yield">
			<%= yield %>
		</div>
	</body>
	
	<div>
		<div id='createIdeaForm' hidden="true">
			<%= form_for(:ideaCreation, :url => {:action => 'create'}) do |f| %>
					  <%= f.text_field(:title) %>
					  <%= f.text_field(:idea) %>
					  <%= f.text_field(:description) %>	
					  <%= f.text_field(:tags) %>	
				  <%= submit_tag("Submit")%>
			<% end %>
		</div>
		<div id='loginForm' hidden="true">
			<%= form_for(:ideaCreation, :url => {:action => 'create'}) do |f| %>
				  <%= submit_tag("Submit")%>
			<% end %>
		</div>
	
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<%= javascript_include_tag "jquery.avgrund.js" %>
		
		
		<script>
		$(function() {
			$('#login').avgrund({
				height: 200,
				holderClass: 'custom',
				showClose: true,
				showCloseText: 'Close',
				enableStackAnimation: true,
				onBlurContainer: '.container',
				template: document.getElementById('loginForm').innerHTML
			});
		});
		$(function() {
			$('#submitIdea').avgrund({
				height: 200,
				holderClass: 'custom',
				showClose: true,
				showCloseText: 'Close',
				enableStackAnimation: true,
				onBlurContainer: '.container',
				template: document.getElementById('createIdeaForm').innerHTML
			});
		});
		</script>
	</div>
</html>
